<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Random Quote Generator</title>
    <meta name="description" content="A random quote generator">
    <meta name="author" content="Akshay">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!--- Script
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</head>

<body>

    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  	<h2>A random Quote Generator</h2>

    <!--- Script
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

</body>

</html>
